@page
@model eBakery.Web.Pages.app.Product.AddEditProductModel
@{
    ViewData["Title"] = "AddEditProduct";
}


<div class="row">
    <div class="col-md-12">
        <div class="card mb-12">
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex justify-content-between w-100">
                        <h6 class="mb-1">@Model.Title Product Information</h6>
                        <a asp-page="./AddEditImages" asp-route-id="0" class="btn btn-coffe btn-sm">View/Add Images</a>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="AddEditRepair" method="post" asp-controller="Property" class="form-horizontal" id="repairForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProductVM.ProductId" id="ProductId" />

                        <div class="form-group required row">
                            <label asp-for="ProductVM.ProductName" class="col-md-1 col-form-label">Product Name:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.ProductName" id="txtProductName" class="form-control" required />
                                <span asp-validation-for="ProductVM.ProductName" class="text-danger"></span>
                            </div>

                            <label asp-for="ProductVM.ProductCode" class="col-md-1 col-form-label-nrq">Product Code:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.ProductCode" id="txtProductCode" class="form-control" />
                                <span asp-validation-for="ProductVM.ProductCode" class="text-danger"></span>
                            </div>
                            <label asp-for="ProductVM.CategoryId" class="col-md-1 col-form-label-nrq">Category:</label>
                            <div class="col-md-3">
                                <select asp-for="ProductVM.CategoryId" asp-items="@Model.CategoryList" required="required" class="form-control">
                                    <option value="">Please select a category</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group required row">
                            <label asp-for="ProductVM.QuantityPerUnit" class="col-md-1 col-form-label">Quantity Per Unit:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.QuantityPerUnit" id="txtQuantityPerUnit" class="form-control" />
                                <span asp-validation-for="ProductVM.QuantityPerUnit" class="text-danger"></span>
                            </div>

                            <label asp-for="ProductVM.UnitPrice" class="col-md-1 col-form-label-nrq">Unit Cost:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.UnitPrice" id="txtUnitPrice" class="form-control" />
                                <span asp-validation-for="ProductVM.UnitPrice" class="text-danger"></span>
                            </div>
                            <label asp-for="ProductVM.UnitSalePrice" class="col-md-1 col-form-label-nrq">Unit Sale:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.UnitSalePrice" id="txtUnitSalePrice" class="form-control" />
                                <span asp-validation-for="ProductVM.UnitSalePrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ProductVM.UnitsInStock" class="col-md-1 col-form-label">Units In Stock:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.UnitsInStock" id="txtUnitsInStock" class="form-control" />
                                <span asp-validation-for="ProductVM.UnitsInStock" class="text-danger"></span>
                            </div>

                            <label asp-for="ProductVM.UnitsOnOrder" class="col-md-1 col-form-label-nrq">Units On Order:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.UnitsOnOrder" id="txtUnitsOnOrder" class="form-control" />
                                <span asp-validation-for="ProductVM.UnitsOnOrder" class="text-danger"></span>
                            </div>
                            <label asp-for="ProductVM.ReorderLevel" class="col-md-1 col-form-label-nrq">Reorder Level:</label>
                            <div class="col-md-3">
                                <input asp-for="ProductVM.ReorderLevel" id="txtReorderLevel" class="form-control" />
                                <span asp-validation-for="ProductVM.ReorderLevel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ProductVM.SupplierId" class="col-md-1 col-form-label">Supplier:</label>
                            <div class="col-md-3">
                                <select asp-for="ProductVM.SupplierId" asp-items="@Model.SupplierList" required="required" class="form-control"></select>
                            </div>

                            <label asp-for="ProductVM.Discontinued" class="col-md-1 col-form-label-nrq">Discontinued?:</label>
                            <div class="col-md-3">
                                <label class="custom-control custom-checkbox">
                                    <input asp-for="ProductVM.Discontinued" id="txtDiscontinued" class="custom-control-input" />
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                            @if (@Model.Title == "Edit")
                            {
                                <label asp-for="ProductVM.StatusId" class="col-md-1 col-form-label-nrq">Status:</label>
                                <div class="col-md-3">
                                    <select asp-for="ProductVM.StatusId" asp-items="@Model.StatusList" required="required" class="form-control"></select>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <span style="color:red;" id="spCreateMessage">@Model.Message</span>
                            </div>
                        </div>

                        <hr class="m-0">

                        <div class="card-footer" style="text-align:right;">
                            <a asp-page="Index" class="btn btn-secondary">Back to List</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

