@page
@model eBakery.Web.Pages.app.Product.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info " id="nopcommerce-news-box">
            <div class="box-header with-border clearfix">
                <div class="box-title">
                    <i class="ion-md-image"></i>
                    Products
                </div>
                <div class="box-tools pull-right">
                    <a asp-page="./AddEditProduct" asp-route-id="0" class="btn btn-primary btn-sm">Add New Product</a>
                </div>
            </div>
            <div class="box-body">
                <table id="tblProduct" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Supplier Name</th>
                            <th>Category</th>
                            <th>Unit Cost</th>
                            <th>Sale Price</th>
                            <th>Unit In Stock</th>
                            <th>Units On Order</th>
                            <th>Status</th>
                            <th>Discontinue?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.productVM)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductId)
                            </td>
                            <td>
                                <a asp-page="./AddEditProduct" asp-route-id="@item.ProductId">@item.ProductName</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitSalePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsInStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discontinued)
                            </td>
                            <td>
                                <a asp-page="./Index" asp-route-id="@item.ProductId" class="btn btn-coffe btn-xs">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



